html,
body {
    margin: 0;
    padding: 0;
    background-color: #eeeeef;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

#paywall {
    border-radius: 8px;
    background-color: white;
    margin: 12px;
}

.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3a3a39;
    color: white;
    margin-top: auto;
}

#checkout-btn {
    border: none;
    margin: 12px;
    border-radius: 8px;
    background-color: #41d67e;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
}
